.diviLine{
    position: relative;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    filter: contrast(105%);

}

.diviLine-line{
    padding-right: 1px; 
    width: 24rem;
    backdrop-filter: blur(1rem);
    background-color: #fffffff5;
    border: 1px solid rgba(216, 19, 19, 0.849);
    border-radius: 100%;
    height: 0.01rem;
    top: 0;
    z-index: 100;
}